@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #0A0A0A;
    color: #FAFAFA;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
